//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #fe9900;
$success: #45c93a;
$danger: #ff4657;
$warning: #fe9900;
$dark: #1f1f1f;
